3to2==1.1.1
alabaster==0.7.12
appdirs==1.4.4
applib==1.2
astroid==2.5.3
attrs==19.3.0
Babel==2.9.0
black==19.10b0
caffeine==0.5
certifi==2020.12.5
chardet==3.0.4
click==8.0.1
cmdln==2.0.0
CodeIntel==2.0.0
colorama==0.4.4
decorator==4.4.2
distlib==0.3.1
dnspython==1.16.0
docopt==0.6.2
docutils==0.16
esprima==4.0.1
fett==0.3.2
filelock==3.0.12
Flask==2.0.1
idna==2.10
imagesize==1.2.0
Inflector==3.0.1
iniconfig==1.1.1
isort==4.3.21
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.4.3
libclang-py3==3.9.0
livereload==2.6.3
MarkupSafe==2.0.1
marshmallow==3.12.2
mccabe==0.6.1
memory-profiler==0.58.0
mypy==0.782
mypy-extensions==0.4.3
networkx==2.5.1
packaging==20.9
pathspec==0.8.0
pluggy==1.0.0
psutil==5.7.3
py==1.10.0
pydantic==1.8.2
Pygments==2.8.1
pylint==2.7.4
pymongo==3.11.3
pyparsing==2.4.7
PySmbClient==0.1.5
pytest==6.2.5
python-dotenv==0.18.0
python-jsonrpc-server==0.3.4
pytz==2021.1
PyYAML==5.3.1
regex==2020.7.14
requests==2.25.1
RestrictedPython==5.1
rstcheck==3.3.1
six==1.15.0
snooty-lextudio==1.9.0.dev0
snowballstemmer==2.1.0
Sphinx==3.5.4
sphinx-autobuild==2021.3.14
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.1
tornado==6.1
typed-ast==1.4.1
typing-extensions==3.10.0.2
ujson==1.35
urllib3==1.26.4
virtualenv==20.2.1
watchdog==1.0.2
webargs==8.0.0
Werkzeug==2.0.1
wrapt==1.12.1
zipstream-new==1.1.8
zope.cachedescriptors==4.3.1
